* {
  box-sizing: border-box;
}

body {
  font-size: 22px;
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
  color: #111;
  margin: 0;
  padding: 20px 40px;

  /* This will center anything on your page */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.clock {
  display: flex;
  gap: 20px;
  padding: 20px 30px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

.time {
  
}